<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Market</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/stylesheets/homepage.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Animal Market</a>
      </h1>
        <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <div class="button-container">
          <button type="button" id="logout" class="button">Logout</button>
        </div>
        {{else}}
          <a href="/login" class="text-normal">login</a> 
        {{/if}}        
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <span>All rights reserved. </span>
    </footer>
  </div>
</body>
</html>