<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Market</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/homepage.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer style="width:100%">
      <button style="width:33.3%">About</button>
      <div class="btn-group" style="width:33.3%">
        <a href="https://twitter.com/" >Twitter</a>
        <a href="https://www.linkedin.com" >LinkedIn</a>
        <a href="https://www.youtube.com" >Youtube</a>
      </div>
      <button style="width:33.3%">Contact Us</button>
    </footer>
  </div>
</body>
</html>