<div class="form-container">
    <div class="form-login box-shadow">
        <form id="signupForm" class="form-content box-shadow">
            <h2 >Play Animal Market</h2>
            <div class="form-group">
                <input type="text" class="form-control text-align" id="username" placeholder="Username" name="username" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control text-align" id="email" placeholder="Email" name="email" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control text-align" id="pwd" placeholder="Password" name="password" />
            </div>
            <button type="submit" id="submitBtn" class="button">Sign Up</button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/javascript/signup.js"></script>
